<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.newfifteen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Spaccaquindici"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Sfida NewEight"
            android:name=".Case3" >
        </activity>
        <activity
            android:label="Challenge NewFifteen"
            android:name=".Case4" >
        </activity>
        <activity
            android:label="Challenge NewTwentyfour"
            android:name=".Case5" >
        </activity>
        <activity
            android:label="Sfida NewThirtyfive"
            android:name=".Case6" >
        </activity>
        <activity
            android:label="Difficoltà"
            android:name=".Scelta" >
        </activity>

    </application>

</manifest>